input{
    width: 100%;
    height: auto;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: large;
}
button{
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    width: 100%;
    text-align: center;
    cursor: pointer;
    font-size: 16px;
}
.input-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
