.header{
  background-color: #ffffff;
  padding: 20px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}
.container{
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  
  display: flex;
  flex-direction: column;
  
  gap: 20px;

}

.infutFeild{
  border: 2px solid #f0f0f0;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}